# .gitignore

client-*/
client/debug*/
client/release*/
client/moc*.cpp
client/client

ui_*.h
*.qm

Makefile*
*.user*
*.o
*.bak
*.tmp
*~

*.autosave

*.Debug
*.Release

#doxygen
latex
html

*Qt_SD*
